:root {
    --main-dark: #1F4D70;                       /* Colors for main style */
    --main: #2c70a3;                            /* Colors for main style */
    --main-light: #3F8ECA;                      /* Colors for main style */
    --main-lighter: #6FAAD8;                    /* Colors for main style */ 
    --text: #f0e8e8;                            /* Colors for text*/
    --text-alt: #ece3e3;                        /* Colors for text*/
    --placeholder: #000000;                     /* Color for placeholder */
    --back-placeholder: #efe7e7e0;              /* Color for background of placeholder */
    --background: #f0e8e8;                      /* Color for background */
    --confirm: #00ff00;                         /* Color for confirmation */
    --err: #dc4747;                             /* Color for error */
}

/* Login page */

    .login_form {                           /* Login form, don't know how i made */
        position: absolute;
        display:inline-block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-height: none;
        max-width: none;
        padding: 50px 5% 50px 5%;
        border-radius: 10px;
        background-color: var(--main);
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

    .login_form .label {                  /* Login form label */
        font-size: 1rem;
        font-weight: bold;
        color: var(--text);
        display: block;
        margin-bottom: 5px;
}

    .login_form .input {
        width: 90%; 
        margin: 5px auto;
        display: block;
        padding: 5px;
        border-radius: 20px;
        background-color: var(--back-placeholder);
        color: var(--placeholder);
        border: 1px solid var(--main-dark);
        align-items: center;
        align-self: center;
        margin-bottom: 15px;
}

    .login_form .input[type="submit"]:hover {
        background-color: var(--main-light);
}

    .login_form .button {                                /* Login button style */
        width: 100%;
        padding: 10px;
        border-radius: 20px;
        background-color: var(--main-light);
        color: var(--text);
        border: 1px solid var(--main-dark);
        cursor: pointer;
        align-self: center;
        margin-top: 10px;
        display: block;
        margin: 10px auto;
        font-weight: bold;
}

    .login_form .button:hover {
        background-color: var(--main-dark);
        border: 1px solid var(--main-dark);
        align-content: center;
}

    .login_form .links {
        display: block;
        text-align: center;
        margin-top: 10px;
        color: var(--text);
        text-decoration: none;
}

    .login_form .links:hover {
        text-decoration: underline;
}

/* Sign up page */

    .signup_form {
        position: relative;
        display: block;
        left: 0;
        top: 0;
        transform: none;
        max-width: none;
        max-width: fit-content;
        padding: 3%;
        border-radius: 10px;
        background-color: var(--main);
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        border: 1px solid var(--main-dark);
}

    .signup_form h2 {                          /* Sign up form title */
        text-align: center;
        background-color: var(--main);
        padding: 10px;
        border-radius: 10px;
        color: var(--text);
        margin-top: 0;
        margin-bottom: 30px;
}

    .signup_form .label {                  /* Sign up form label */
        font-size: 1rem;
        font-weight: bold;
        color: var(--text);
        display: block;
        margin-bottom: 5px;
}

    .signup_form .input {
        width: 90%; 
        margin: 5px auto;
        display: block;
        padding: 5px;
        border-radius: 20px;
        background-color: var(--back-placeholder);
        color: var(--placeholder);
        border: 1px solid var(--main-dark);
        align-items: center;
        align-self: center;
        margin-bottom: 15px;
}

    .signup_form .input[type="submit"]:hover {
        background-color: var(--main-light);
}

    .signup_form .button {                                /* Sign up button style */
        width: 100%;
        padding: 10px;
        border-radius: 20px;
        background-color: var(--main-light);
        color: var(--text);
        border: 1px solid var(--main-dark);
        cursor: pointer;
        align-self: center;
        margin-top: 50px;
        display: block;
        margin: 10px auto;
}

    .signup_form .button:hover {
        background-color: var(--main-dark);
        border: 1px solid var(--main-dark);
        align-content: center;
}

    .signup_form .warn_button {                        /* Sign up confirmation message */
        width: 100%;
        padding: 10px;
        border-radius: 20px;
        background-color: var(--err);
        color: var(--text);
        border: 1px solid var(--main-dark);
        cursor: pointer;
        align-self: center;
        margin-top: 10px;
        display: block;
        margin: 20px auto;
}

    .signup_form .warn_button:hover {
        background-color: var(--main-dark);
        border: 1px solid var(--main-dark);
        align-content: center;
}

    .signup_form .links {
        display: block;
        text-align: center;
        margin-top: 20px;
        color: var(--text);
        text-decoration: none;
    }
    .signup_form .links:hover {
        text-decoration: underline; /* Add underline on hover */
}

    .signup_form .error {                        /* Sign up error message */
        color: var(--err);
        font-size: 1.5rem;
        margin-top: 10px;
        text-align: center;
}

    .signup_form .success {                      /* Sign up success message */
        color: var(--confirm);
        font-size: 1.5rem;
        margin-top: 10px;
        text-align: center;
}
